{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Info about our Company</h1>
  <p>Pet care industry is expanding and changing in a global presence. It is because of the
growth of pet population, trends inspired by pet humanization as well as the
evolving demand of pet care in developed and emerging markets. Common pet care
business paradigms are found, which are pet food, pet product, and pet service. The
paradigms of pet food and pet products are mainly composed of divisions of product
categories, breeds, functions, formation. Pet food would have a future focus on
senior and obese pets; while pet products would have more technological
implementations in the future. </p>
<img src="/Users/jk/Downloads/PROJ/Final_Project/puppycompanyblog/static/profile_pics/default_profile.png" alt="Not found">
</div>

{% endblock %}
